@import '../../custom-theme.scss';

.page-index {

  .btn-refresh {
    display: inline-block;
    color: $color-brand-dark;
    text-decoration: underline;
  }

  .search-result-tip {
    text-align: right;
    font-size: 24px;
    color: grey;
    margin: 24px 30px 50px;
  }

  .list {
    min-height: 80vh;

    .item {
      padding: 13px 15px;
      border-bottom: 1px solid #eee;

      .extra-info {
        display: flex;
        align-items: center;
        font-size: 24px;
        color: #ccc;

        view {
          margin-right: 30px;
        }

        .is-agent {
          color: red;
        }

        .time {
          margin-left: auto;
        }
      }
    }

    .title {
      display: inline-block;
      font-size: 28px;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;

      &.important {
        color: $color-brand-dark;
        font-weight: bold;
      }

      &.visited {
        color: #ccc;
      }
    }
  }
}
