@import '../../custom-theme.scss';

.page-index {

  .search-result-tip {
    display: flex;
    flex-flow: row-reverse;
    font-size: 0.7rem;
    color: grey;
    margin: 0.7rem 1rem 1.5rem;
  }

  .list {
    min-height: 50vh;

    .item {
      padding: 0.4rem 0.5rem;
      border-bottom: 1px solid #eee;

      .extra-info {
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        color: #ccc;

        view {
          margin-right: 0.1rem;
        }

        .is-agent {
          color: red;
        }

        .time {
          margin-left: auto;
        }
      }
    }

    .title {
      display: inline-block;
      font-size: 0.9rem;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;

      &.important {
        color: $color-brand-dark;
        font-weight: bold;
      }

      &.visited {
        color: #ccc;
      }
    }
  }
}
