.page-content {
  padding: 21px 21px 50px 21px;

  .portrait {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px 20px 20px 40px;
    margin: 20px 0 100px 0;
    font-size: 30px;

    .title {
      font-size: 35px;
      margin-left: -20px;
      margin-bottom: 10px;
    }

    .val {
      display: inline-block;
      margin-right: 30px;
      line-height: 50px;
    }
  }
}
